.cm-s-default.CodeMirror {
    background: #faf8f5;
    color: #b29762;
  }
  .cm-s-default div.CodeMirror-selected {
    background: #e3dcce !important;
  }
  .cm-s-default .CodeMirror-gutters {
    background: #faf8f5;
    border-right: 0px;
  }
  .cm-s-default .CodeMirror-linenumber {
    color: #cdc4b1;
  }
  .cm-s-default .CodeMirror-cursor {
    border-left: 1px solid #93abdc;
    border-right: 0.5em solid #93abdc;
    opacity: 0.5;
  }
  .cm-s-default .CodeMirror-activeline-background {
    background: #e3dcce;
    opacity: 0.5;
  }
  .cm-s-default .cm-fat-cursor .CodeMirror-cursor {
    background: #93abdc;
    opacity: 0.5;
  }
  .cm-s-default span.cm-atom,
  .cm-s-default span.cm-number,
  .cm-s-default span.cm-keyword,
  .cm-s-default span.cm-variable,
  .cm-s-default span.cm-attribute,
  .cm-s-default span.cm-quote,
  .cm-s-default-light span.cm-hr,
  .cm-s-default-light span.cm-link {
    color: #063289;
  }
  .cm-s-default span.cm-property {
    color: #b29762;
  }
  .cm-s-default span.cm-punctuation,
  .cm-s-default span.cm-unit,
  .cm-s-default span.cm-negative {
    color: #063289;
  }
  .cm-s-default span.cm-string,
  .cm-s-default span.cm-operator {
    color: #1659df;
  }
  .cm-s-default span.cm-positive {
    color: #896724;
  }
  .cm-s-default span.cm-variable-2,
  .cm-s-default span.cm-variable-3,
  .cm-s-default span.cm-type,
  .cm-s-default span.cm-string-2,
  .cm-s-default span.cm-url {
    color: #896724;
  }
  .cm-s-default span.cm-def,
  .cm-s-default span.cm-tag,
  .cm-s-default span.cm-builtin,
  .cm-s-default span.cm-qualifier,
  .cm-s-default span.cm-header,
  .cm-s-default span.cm-em {
    color: #2d2006;
  }
  .cm-s-default span.cm-bracket,
  .cm-s-default span.cm-comment {
    color: #b6ad9a;
  }
  .cm-s-default span.cm-error,
  .cm-s-default span.cm-invalidchar {
    color: #f00;
  }
  .cm-s-default span.cm-header {
    font-weight: normal;
  }
  .cm-s-default .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #faf8f5 !important;
  }